.parent-personal-img {
  position: relative;
}
.personal-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  z-index: 9999;
  position: absolute;
  bottom: -5px;
}
.bc-added {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: blueviolet;
  z-index: -9999;
}
